/* user-dashbord article styles */

.user-dashbord{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: 0 auto;
    gap: 24px;
    margin-top: 48px;
}
.user-dashbord-list{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.user-dashbord-user-image{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background: white;
    margin-bottom: 24px;
    border: 1px solid rgb(0, 0, 0,10%);
    width: 100%;
}
.user-dashbord-user-image p{
    font-family: "bold";
    font-size: 20px;
    color: #202635;
}
.user-dashbord-user-image img{
    width: 62px;
    height: 62px;
    border-radius: 50%;
}
.user-dashbord-list-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 24px;
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0,10%);
    width: 100%;
}
.user-dashbord-list-list a{
    font-family: "bold";
    font-size: 18px;
    text-decoration: none;
    color: #828182;
}
.user-dashbord-list-list a.active{
    color: #202635;
}
.user-dashbord-desc{
    flex: 3;
    width: 100%;
}
.user-dashbord-desc-pishkhan{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0,10%);
}
.pishkhan-desc p{
    font-family: "semi-bold";
    font-size: 20px;
    color: #636772;
    margin-bottom: 20px;
    text-align: right;
    direction: rtl;
    line-height: 27px;
}
.pishkhan-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 24px;
    direction: rtl;
}
.pishkhan-items a{
    text-decoration: none;
    text-align: center;
    padding: 52px 0px;
    background: rgb(255, 129, 50,10%);
    border-radius: 8px;
    font-family: "bold";
    font-size: 20px;
    color: #FF8032;
}



/* user-panel-adress form styles */

.user-dashbord-desc-form{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    background: white;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0,10%);
}
.form-group{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
    margin-top: 25px;
    gap: 8px;
}
.form-group.name{
    flex-direction: row-reverse;
    width: 100%;
    gap: 24px;
}
.form-grop-inside-name{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.form-group label{
    font-family: "semi-bold";
    font-size: 15px;
    color: #202635;
    direction: rtl;
}
.form-group label span{
    color: red;
}
.form-group input{
    background: #F8F9FD;
    border-radius: 4px;
    border: 1px solid #E4E5E9;
    padding: 10px 0px;
}
.form-group-desc h3{
    font-family: "bold";
    font-size: 24px;
    color: #202635;
    margin-bottom: 16px;
    margin-top: 8px;
}
.form-group-desc textarea{
    background: #F8F9FD;
    border-radius: 4px;
    border: 1px solid #E4E5E9;
    resize: none;
}



@media only screen and (max-width:768px){
    .user-dashbord{
        flex-direction: column;
    }
    .user-dashbord-desc{
        flex: 1;
        width: 100%;
    }
    .user-dashbord-list{
        flex: 1;
        width: 100%;
    }
    .pishkhan-items{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .user-dashbord-user-image p{
        font-size: 18px;
    }
    .user-dashbord-list-list a{
        font-size: 16px;
    }
    .pishkhan-desc p{
        font-size: 16px;
    }
    .pishkhan-items a{
        font-size: 18px;
    }
    .payment-form{
        flex: 1;
        width: 100%;
    }
    .payment-desc{
        flex: 1;
    }
    .form-group.name{
        flex-direction: column;
    }
    .form-group label{
        font-size: 12px;
    }
    .form-group h3{
        font-size: 20px;
    }
}




.user-order{
    background: white;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 8px;
    padding: 24px;
    width: 70%;
}
.user-order-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.user-order-item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 25px;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 8px;
    align-items: center;
}
.user-order-date p{
    font-family: "semi-bold";
    font-size: 16px;
    color: #828182;
}
.user-order-code p{
    font-family: "semi-bold";
    font-size: 16px;
    color: #828182;
}
.user-order-code p span{
    color: black;
}
.user-order-price p{
    font-family: "semi-bold";
    font-size: 16px;
    color: #828182;
}
.user-order-price p span{
    color: black;
}
.Preparation{
    font-size: 13px;
    font-family: "bold";
    color: white;
    padding: 8px 12px;
    background: #202635;
    border-radius: 4px;
    border: none;
}
.sent{
    border: none;
    font-family: "bold";
    font-size: 13px;
    color: white;
    padding: 8px 12px;
    background: #FF7B29;
    border-radius: 4px;
}
.delivered{
    border: none;
    font-family: "bold";
    font-size: 13px;
    color: white;
    padding: 8px 12px;
    background: #65BB1A;
    border-radius: 4px;
}
@media only screen and (max-width:768px){
    .user-order{
        width: 100%;
    }
    .user-order-item{
        padding: 10px;
    }
    .user-order-date p{
        font-size: 10px;
    }
    .user-order-code p{
        font-size: 10px;
    }
    .user-order-price p{
        font-size: 10px;
    }
    .Preparation{
        font-size: 10px;
        padding: 5px;
    }
    .sent{
        font-size: 10px;
        padding: 5px;
    }
    .delivered{
        font-size: 10px;
        padding: 5px;
    }
}


.order-inside{
    background-color: white;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 8px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.order-inside-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 8px;
    padding: 15px 0px;
}
.order-inside-detail{
    display: flex;
    flex-direction: column;
}
.order-inside-detail-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 0, 0,10%);
}
.order-inside-detail-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.order-inside-detail-title h3{
    font-family: "bold";
    font-size: 16px;
    color: #202635;
}
.order-inside-detail-body{
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0,10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    direction: rtl;
}
.order-inside-detail-body:last-child{
    border-bottom: none;
}
.order-inside-detail-body p{
    font-family: "bold";
    font-size: 16px;
    color: #828182;
}
.order-inside-detail-body p span{
    color: #202635;
}
@media only screen and (max-width:768px){
    .order-inside{
        width: 100%;
    }
    .order-inside-detail-body p{
        font-size: 12px;
    }
}

.order-inside-price-wrapper{
    padding: 20px;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 8px;
    background: rgb(255, 147, 79,5%);
}
.order-inside-price-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0,10%);
}
.order-inside-price-header h3{
    font-family: "semi-bold";
    font-size: 20px;
    color: #202635;
}
.order-inside-price-body{
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0, 0, 0,10%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.order-inside-price-all{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.order-inside-price-body p{
    font-family: "semi-bold";
    font-size: 16px;
    color: #2D3134;
}
.order-inside-price-body p span{
    color: #636772;
}
.order-inside-price-all{
    font-family: "bold";
    font-size: 17px;
    color: #2D3134;
}
@media only screen and (max-width:768px){
    .order-inside-price-body p{
        font-size: 12px;
    }
    .order-inside-price-all{
        font-size: 14px;
    }
}

.user-panel-button a{
    background: #FF7B29;
    padding: 15px 20px;
    font-family: "bold";
    font-size: 15px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.user-panel-button{
    text-align: right;
    margin-top: 30px;
}